<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.product.mapper.FinancierPersonalMapper">
	<resultMap type="com.hzfh.api.product.model.FinancierPersonal" id="resultMapFinancierPersonal">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
		<result property="weixin" column="weixin"/>
		<result property="qq" column="qq"/>
		<result property="cellphone1" column="cellphone1"/>
		<result property="cellphone2" column="cellphone2"/>
		<result property="telephone" column="telephone"/>
		<result property="address" column="address"/>
		<result property="age" column="age"/>
		<result property="marry" column="marry"/>
		<result property="company" column="company"/>
		<result property="money" column="money"/>
		<result property="requiretime" column="requiretime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="requireComment" column="require_comment"/>
		<result property="protocolNo" column="protocol_no"/>
		<result property="managerNo" column="manager_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
		<result property="isTest" column="is_test"/>
	</resultMap>
	<select id="getList" resultMap="resultMapFinancierPersonal">
		SELECT id,code,name,sex,email,weixin,qq,cellphone1,cellphone2,telephone,address,age,marry,company,money,requiretime,require_comment,protocol_no,manager_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test
		FROM financier_personal
	</select>
	<select id="getPagingList" resultMap="resultMapFinancierPersonal" parameterType="com.hzfh.api.product.model.query.FinancierPersonalCondition" statementType="STATEMENT">
		SELECT id,code,name,sex,email,weixin,qq,cellphone1,cellphone2,telephone,address,age,marry,company,money,requiretime,require_comment,protocol_no,manager_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test FROM financier_personal where 1=1
		<if test="name != null and name !=''">and name LIKE CONCAT('%','${name}','%')</if>
		<if test="workMateString !=null">and manager_no in (${workMateString})	</if>
		<if test="isTest>-1">and is_test=${isTest}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.product.model.query.FinancierPersonalCondition" statementType="STATEMENT">
		SELECT count(1) FROM financier_personal where 1=1
		<if test="name != null and name !=''">and name LIKE CONCAT('%','${name}','%')</if>
		<if test="workMateString !=null">and manager_no in (${workMateString})	</if>
		<if test="isTest>-1">and is_test=${isTest}</if>
	</select>
	<select id="getInfo" resultMap="resultMapFinancierPersonal" parameterType="int">
		SELECT id,code,name,sex,email,weixin,qq,cellphone1,cellphone2,telephone,address,age,marry,company,money,requiretime,require_comment,protocol_no,manager_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test FROM financier_personal where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.product.model.FinancierPersonal" useGeneratedKeys="true" keyProperty="id">
		insert into financier_personal
		(code,name,sex,email,weixin,qq,cellphone1,cellphone2,telephone,address,age,marry,company,money,requiretime,require_comment,protocol_no,manager_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test)
		values
		(#{code},#{name},#{sex},#{email},#{weixin},#{qq},#{cellphone1},#{cellphone2},#{telephone},#{address},#{age},#{marry},#{company},#{money},#{requiretime},#{requireComment},#{protocolNo},#{managerNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment},#{isTest})
	</insert>
	<update id="update" parameterType="com.hzfh.api.product.model.FinancierPersonal">
		update financier_personal set 
		code=#{code},name=#{name},sex=#{sex},email=#{email},weixin=#{weixin},qq=#{qq},cellphone1=#{cellphone1},cellphone2=#{cellphone2},telephone=#{telephone},address=#{address},age=#{age},marry=#{marry},company=#{company},money=#{money},requiretime=#{requiretime},require_comment=#{requireComment},protocol_no=#{protocolNo},manager_no=#{managerNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment},is_test=#{isTest}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from financier_personal where id = #{id}
	</delete>
</mapper>