<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.product.mapper.PartnerIssuerMapper">
	<resultMap type="com.hzfh.api.product.model.PartnerIssuer" id="resultMapPartnerIssuer">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="type" column="type"/>
		<result property="name" column="name"/>
		<result property="owner" column="owner"/>
		<result property="contactPrimary" column="contact_primary"/>
		<result property="contactPosition" column="contact_position"/>
		<result property="empNo" column="emp_no"/>
		<result property="contactCellphone1" column="contact_cellphone1"/>
		<result property="contactCellphone2" column="contact_cellphone2"/>
		<result property="contactTelephone" column="contact_telephone"/>
		<result property="contactWeixin" column="contact_weixin"/>
		<result property="contactQq" column="contact_qq"/>
		<result property="website" column="website"/>
		<result property="address" column="address"/>
		<result property="relationLevel" column="relation_level"/>
		<result property="importanceLevel" column="importance_level"/>
		<result property="email" column="email"/>
		<result property="comment" column="comment"/>
		<result property="isIssuer" column="is_issuer"/>
		<result property="isAgent" column="is_agent"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
		<result property="isTest" column="is_test"/>
	</resultMap>
	<select id="getList" resultMap="resultMapPartnerIssuer">
		SELECT id,code,type,name,owner,contact_primary,contact_position,emp_no,contact_cellphone1,contact_cellphone2,contact_telephone,contact_weixin,contact_qq,website,address,relation_level,importance_level,email,comment,is_issuer,is_agent,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test
		FROM partner_issuer
	</select>
	<select id="getPagingList" resultMap="resultMapPartnerIssuer" parameterType="com.hzfh.api.product.model.query.PartnerIssuerCondition" statementType="STATEMENT">
		SELECT id,code,type,name,owner,contact_primary,contact_position,emp_no,contact_cellphone1,contact_cellphone2,contact_telephone,contact_weixin,contact_qq,website,address,relation_level,importance_level,email,comment,is_issuer,is_agent,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test FROM partner_issuer where 1=1
		<if test="name != null and name !=''">and name LIKE CONCAT('%','${name}','%')</if>
		<if test="partnerIssuertype  !=0">and  type  = ${partnerIssuertype}</if>
		<if test="relationLevel  !=0">and   relation_level = ${relationLevel}</if>
		<if test="importance  !=0">and    importance_level= ${importance}</if>
		<if test="workMateString !=null">and emp_no in (${workMateString})	</if>
		<if test="isTest>-1">and is_test=${isTest}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.product.model.query.PartnerIssuerCondition" statementType="STATEMENT">
		SELECT count(1) FROM partner_issuer where 1=1
		<if test="name != null and name !=''">and name LIKE CONCAT('%','${name}','%')</if>
		<if test="partnerIssuertype  !=0">and  type  = ${partnerIssuertype}</if>
		<if test="relationLevel  !=0">and   relation_level = ${relationLevel}</if>
		<if test="importance  !=0">and    importance_level= ${importance}</if>
		<if test="workMateString !=null">and emp_no in (${workMateString})	</if>
		<if test="isTest>-1">and is_test=${isTest}</if>
	</select>
	<select id="getInfo" resultMap="resultMapPartnerIssuer" parameterType="int">
		SELECT id,code,type,name,owner,contact_primary,contact_position,emp_no,contact_cellphone1,contact_cellphone2,contact_telephone,contact_weixin,contact_qq,website,address,relation_level,importance_level,email,comment,is_issuer,is_agent,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test FROM partner_issuer where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.product.model.PartnerIssuer" useGeneratedKeys="true" keyProperty="id">
		insert into partner_issuer
		(code,type,name,owner,contact_primary,contact_position,emp_no,contact_cellphone1,contact_cellphone2,contact_telephone,contact_weixin,contact_qq,website,address,relation_level,importance_level,email,comment,is_issuer,is_agent,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test)
		values
		(#{code},#{type},#{name},#{owner},#{contactPrimary},#{contactPosition},#{empNo},#{contactCellphone1},#{contactCellphone2},#{contactTelephone},#{contactWeixin},#{contactQq},#{website},#{address},#{relationLevel},#{importanceLevel},#{email},#{comment},#{isIssuer},#{isAgent},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment},#{isTest})
	</insert>
	<update id="update" parameterType="com.hzfh.api.product.model.PartnerIssuer">
		update partner_issuer set 
		code=#{code},type=#{type},name=#{name},owner=#{owner},contact_primary=#{contactPrimary},contact_position=#{contactPosition},emp_no=#{empNo},contact_cellphone1=#{contactCellphone1},contact_cellphone2=#{contactCellphone2},contact_telephone=#{contactTelephone},contact_weixin=#{contactWeixin},contact_qq=#{contactQq},website=#{website},address=#{address},relation_level=#{relationLevel},importance_level=#{importanceLevel},email=#{email},comment=#{comment},is_issuer=#{isIssuer},is_agent=#{isAgent},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment},is_test=#{isTest}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from partner_issuer where id = #{id}
	</delete>
</mapper>