<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.sales.mapper.AgentRateMapper">
	<resultMap type="com.hzfh.api.sales.model.AgentRate" id="resultMapAgentRate">
		<result property="id" column="id" />
		<result property="productType" column="product_type" />
		<result property="productNo" column="product_no" />
		<result property="agentType" column="agent_type" />
		<result property="agentNo" column="agent_no" />
		<result property="lowerLimit" column="lower_limit" />
		<result property="upperLimit" column="upper_limit" />
		<result property="rate" column="rate" />
		<result property="inUserNo" column="in_user_no" />
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editUserNo" column="edit_user_no" />
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editComment" column="edit_comment" />
	</resultMap>
	<select id="getList" resultMap="resultMapAgentRate">
		SELECT
		id,product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM agent_rate
	</select>
	<select id="getPagingList" resultMap="resultMapAgentRate"
		parameterType="com.hzfh.api.sales.model.query.AgentRateCondition"
		statementType="STATEMENT">
		SELECT
		id,product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM agent_rate where 1=1
		<if test="productType !=0">and product_type=${productType}</if>
		<if test="product !=0">and product_no=${product}</if>
		<if test="agentType !=0">and agent_type=${agentType}</if>
		<if test="agent !=0">and agent_no=${agent}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int"
		parameterType="com.hzfh.api.sales.model.query.AgentRateCondition"
		statementType="STATEMENT">
		SELECT count(1) FROM agent_rate where 1=1
		<if test="productType !=0">and product_type=${productType}</if>
		<if test="product !=0">and product_no=${product}</if>
		<if test="agentType !=0">and agent_type=${agentType}</if>
		<if test="agent !=0">and agent_no=${agent}</if>
	</select>
	<select id="getInfo" resultMap="resultMapAgentRate"
		parameterType="int">
		SELECT
		id,product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM agent_rate where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.sales.model.AgentRate"
		useGeneratedKeys="true" keyProperty="id">
		insert into agent_rate
		(product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{productType},#{productNo},#{agentType},#{agentNo},#{lowerLimit},#{upperLimit},#{rate},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.sales.model.AgentRate">
		update agent_rate set
		product_type=#{productType},product_no=#{productNo},agent_type=#{agentType},agent_no=#{agentNo},lower_limit=#{lowerLimit},upper_limit=#{upperLimit},rate=#{rate},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from agent_rate where
		id = #{id}
	</delete>
	<select id="getAgentRate" resultMap="resultMapAgentRate">
		SELECT
		id,product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM agent_rate
		where product_no=#{agentRate.productNo} and agent_type=#{agentRate.agentType} and agent_no=#{agentRate.agentNo} and lower_limit &lt;= #{money} and upper_limit &gt; #{money}
	</select>
	
	<select id="getAgentRateListByCondition" resultMap="resultMapAgentRate" parameterType="com.hzfh.api.sales.model.query.AgentRateCondition" statementType="STATEMENT">
		SELECT
		id,product_type,product_no,agent_type,agent_no,lower_limit,upper_limit,rate,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM agent_rate where 1=1
        <if test="product !=0">and product_no=${product}</if>
        <if test="agentType !=0">and agent_type=${agentType}</if>
        <if test="AgentAllString !=null">and agent_no in (${AgentAllString})</if>
	</select>

</mapper>