<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.sales.mapper.IncomeMapper">
	<resultMap type="com.hzfh.api.sales.model.Income" id="resultMapIncome">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="customerType" column="customer_type"/>
		<result property="customerNo" column="customer_no"/>
		<result property="salesNo" column="sales_no"/>
		<result property="incomeTotal" column="income_total"/>
		<result property="incomeFirst" column="income_first"/>
		<result property="incomeReal" column="income_real"/>
		<result property="incomeRemain" column="income_remain"/>
		<result property="receiveDate" column="receive_date" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="partnerType" column="partner_type"/>
		<result property="partnerNo" column="partner_no"/>
		<result property="payType" column="pay_type"/>
		<result property="receiptNumber" column="receipt_number"/>
		<result property="comment" column="comment"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapIncome">
		SELECT id,code,name,customer_type,customer_no,sales_no,income_total,income_first,income_real,income_remain,receive_date,partner_type,partner_no,pay_type,receipt_number,comment,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM income
	</select>
	<select id="getPagingList" resultMap="resultMapIncome" parameterType="com.hzfh.api.sales.model.query.IncomeCondition" statementType="STATEMENT">
		SELECT id,code,name,customer_type,customer_no,sales_no,income_total,income_first,income_real,income_remain,receive_date,partner_type,partner_no,pay_type,receipt_number,comment,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM income where 1=1
		<if test="name != null and name !=''">and name=${name}</if>
		<if test="customerType !=0">and customer_type=${customerType}</if>
		<if test="customer !=0">and customer_no=${customer}</if>
		<if test="partner !=0">and partner_no=${partner}</if>
		
		
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.sales.model.query.IncomeCondition" statementType="STATEMENT">
		SELECT count(1) FROM income where 1=1
		<if test="name != null and name !=''">and name=${name}</if>
		<if test="customerType !=0">and customer_type=${customerType}</if>
		<if test="customer !=0">and customer_no=${customer}</if>
		<if test="partner !=0">and partner_no=${partner}</if>
	</select>
	<select id="getInfo" resultMap="resultMapIncome" parameterType="int">
		SELECT id,code,name,customer_type,customer_no,sales_no,income_total,income_first,income_real,income_remain,receive_date,partner_type,partner_no,pay_type,receipt_number,comment,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM income where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.sales.model.Income" useGeneratedKeys="true" keyProperty="id">
		insert into income
		(code,name,customer_type,customer_no,sales_no,income_total,income_first,income_real,income_remain,receive_date,partner_type,partner_no,pay_type,receipt_number,comment,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{code},#{name},#{customerType},#{customerNo},#{salesNo},#{incomeTotal},#{incomeFirst},#{incomeReal},#{incomeRemain},#{receiveDate},#{partnerType},#{partnerNo},#{payType},#{receiptNumber},#{comment},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.sales.model.Income">
		update income set 
		code=#{code},name=#{name},customer_type=#{customerType},customer_no=#{customerNo},sales_no=#{salesNo},income_total=#{incomeTotal},income_first=#{incomeFirst},income_real=#{incomeReal},income_remain=#{incomeRemain},receive_date=#{receiveDate},partner_type=#{partnerType},partner_no=#{partnerNo},pay_type=#{payType},receipt_number=#{receiptNumber},comment=#{comment},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from income where id = #{id}
	</delete>
</mapper>