<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.customer.mapper.ActivityConditionRelationMapper">
	<resultMap type="com.hzfh.api.customer.model.ActivityConditionRelation" id="resultMapActivityConditionRelation">
		<result property="id" column="id"/>
		<result property="activityConditionNo" column="activity_condition_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
		<result property="conditionNo" column="condition_no"/>
	</resultMap>
	<select id="getList" resultMap="resultMapActivityConditionRelation">
		SELECT id,activity_condition_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,condition_no
		FROM activity_condition_relation
	</select>
	<select id="getPagingList" resultMap="resultMapActivityConditionRelation" parameterType="com.hzfh.api.customer.model.query.ActivityConditionRelationCondition" statementType="STATEMENT">
		SELECT id,activity_condition_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,condition_no FROM activity_condition_relation where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.customer.model.query.ActivityConditionRelationCondition" statementType="STATEMENT">
		SELECT count(1) FROM activity_condition_relation where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapActivityConditionRelation" parameterType="int">
		SELECT id,activity_condition_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,condition_no FROM activity_condition_relation where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.customer.model.ActivityConditionRelation" useGeneratedKeys="true" keyProperty="id">
		insert into activity_condition_relation
		(activity_condition_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,condition_no)
		values
		(#{activityConditionNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment},#{conditionNo})
	</insert>
	<update id="update" parameterType="com.hzfh.api.customer.model.ActivityConditionRelation">
		update activity_condition_relation set 
		activity_condition_no=#{activityConditionNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment},condition_no=#{conditionNo}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from activity_condition_relation where id = #{id}
	</delete>
	<select id="getInfoByConditionid" resultMap="resultMapActivityConditionRelation" parameterType="int">
		SELECT id,activity_condition_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,condition_no FROM activity_condition_relation where condition_no=#{id}
	</select>
	<delete id="deleteInfoByCondId" parameterType="int">
		delete from activity_condition_relation where condition_no = #{id}
	</delete>
</mapper>