<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.customer.mapper.ActivityPresentMapper">
	<resultMap type="com.hzfh.api.customer.model.ActivityPresent" id="resultMapActivityPresent">
		<result property="id" column="id"/>
		<result property="presentName" column="present_name"/>
		<result property="activityNo" column="activity_no"/>
		<result property="presentCount" column="present_count"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
		<result property="isTest" column="is_test"/>
		<result property="presentPrice" column="present_price"/>
		<result property="getPresentTime" column="get_present_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="conditionDescription" column="condition_description"/>
	</resultMap>
	<select id="getList" resultMap="resultMapActivityPresent">
		SELECT id,present_name,activity_no,present_count,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test,present_price,get_present_time,condition_description
		FROM activity_present
	</select>
	<select id="getPagingList" resultMap="resultMapActivityPresent" parameterType="com.hzfh.api.customer.model.query.ActivityPresentCondition" statementType="STATEMENT">
		SELECT id,present_name,activity_no,present_count,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test,present_price,get_present_time,condition_description FROM activity_present where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.customer.model.query.ActivityPresentCondition" statementType="STATEMENT">
		SELECT count(1) FROM activity_present where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapActivityPresent" parameterType="int">
		SELECT id,present_name,activity_no,present_count,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test,present_price,get_present_time,condition_description FROM activity_present where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.customer.model.ActivityPresent" useGeneratedKeys="true" keyProperty="id">
		insert into activity_present
		(present_name,activity_no,present_count,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test,present_price,get_present_time,condition_description)
		values
		(#{presentName},#{activityNo},#{presentCount},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment},#{isTest},#{presentPrice},#{getPresentTime},#{conditionDescription})
	</insert>
	<update id="update" parameterType="com.hzfh.api.customer.model.ActivityPresent">
		update activity_present set 
		present_name=#{presentName},activity_no=#{activityNo},present_count=#{presentCount},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment},is_test=#{isTest},present_price=#{presentPrice},get_present_time=#{getPresentTime},condition_description=#{conditionDescription}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from activity_present where id = #{id}
	</delete>
	<select id="getActivityPresentByactId" resultMap="resultMapActivityPresent" parameterType="int">
		SELECT id,present_name,activity_no,present_count,in_user_no,in_time,edit_user_no,edit_time,edit_comment,is_test,present_price,get_present_time,condition_description FROM activity_present where activity_no=#{activityNo}
	</select>
</mapper>