<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.customer.mapper.ActivityCouponsCodeMapper">
	<resultMap type="com.hzfh.api.customer.model.ActivityCouponsCode" id="resultMapActivityCouponsCode">
		<result property="id" column="id"/>
		<result property="couponsCdkey" column="coupons_cdkey"/>
		<result property="couponsNo" column="coupons_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
		<result property="status" column="status"/>
	</resultMap>
	<select id="getList" resultMap="resultMapActivityCouponsCode">
		SELECT id,coupons_cdkey,coupons_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,status
		FROM activity_coupons_code
	</select>
	<select id="getPagingList" resultMap="resultMapActivityCouponsCode" parameterType="com.hzfh.api.customer.model.query.ActivityCouponsCodeCondition" statementType="STATEMENT">
		SELECT id,coupons_cdkey,coupons_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,status FROM activity_coupons_code where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.customer.model.query.ActivityCouponsCodeCondition" statementType="STATEMENT">
		SELECT count(1) FROM activity_coupons_code where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapActivityCouponsCode" parameterType="int">
		SELECT id,coupons_cdkey,coupons_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,status FROM activity_coupons_code where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.customer.model.ActivityCouponsCode" useGeneratedKeys="true" keyProperty="id">
		insert into activity_coupons_code
		(coupons_cdkey,coupons_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment,status)
		values
		(#{couponsCdkey},#{couponsNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment},#{status})
	</insert>
	<update id="update" parameterType="com.hzfh.api.customer.model.ActivityCouponsCode">
		update activity_coupons_code set 
		coupons_cdkey=#{couponsCdkey},coupons_no=#{couponsNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment},status=#{status}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from activity_coupons_code where id = #{id}
	</delete>
</mapper>