<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.customer.mapper.ActivityRuleRelationMapper">
	<resultMap type="com.hzfh.api.customer.model.ActivityRuleRelation" id="resultMapActivityRuleRelation">
		<result property="id" column="id"/>
		<result property="activityNo" column="activity_no"/>
		<result property="ruleNo" column="rule_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapActivityRuleRelation">
		SELECT id,activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM activity_rule_relation
	</select>
	<select id="getPagingList" resultMap="resultMapActivityRuleRelation" parameterType="com.hzfh.api.customer.model.query.ActivityRuleRelationCondition" statementType="STATEMENT">
		SELECT id,activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM activity_rule_relation where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.customer.model.query.ActivityRuleRelationCondition" statementType="STATEMENT">
		SELECT count(1) FROM activity_rule_relation where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapActivityRuleRelation" parameterType="int">
		SELECT id,activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM activity_rule_relation where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.customer.model.ActivityRuleRelation" useGeneratedKeys="true" keyProperty="id">
		insert into activity_rule_relation
		(activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{activityNo},#{ruleNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.customer.model.ActivityRuleRelation">
		update activity_rule_relation set 
		activity_no=#{activityNo},rule_no=#{ruleNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from activity_rule_relation where id = #{id}
	</delete>
	<select id="getInfoByRuleid" resultMap="resultMapActivityRuleRelation" parameterType="int">
		SELECT id,activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM activity_rule_relation where rule_no=#{id}
	</select>
	<select id="getInfoByActivityNo" resultMap="resultMapActivityRuleRelation" parameterType="int">
		SELECT id,activity_no,rule_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM activity_rule_relation where activity_no=#{id}
	</select>
	<delete id="deleteInfoByCondId" parameterType="int">
		delete from activity_rule_relation where rule_no = #{id}
	</delete>
</mapper>