<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
		<mapper resource="mapper/PaymentConnectionRequestMapper.xml"/>
		<mapper resource="mapper/PaymentGatewayRequestMapper.xml"/>
		<mapper resource="mapper/PaymentyCallbackNotifyMapper.xml"/>
        <mapper resource="mapper/PaymentRefundMapper.xml"/>
        <mapper resource="mapper/ExamineCallbackRecordMapper.xml"/>
    </mappers> 
</configuration>