<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.report.mapper.AddCustomerReportMapper">
    <resultMap type="com.hzfh.api.report.model.AddCustomerReport" id="resultMapAddCustomerReport">
        <result property="id" column="id"/>
        <result property="elementName" column="element_name"/>
        <result property="elementType" column="element_type"/>
        <result property="elementNo" column="element_no"/>
        <result property="_parentId" column="_parent_id"/>
        <result property="addA" column="add_a"/>
        <result property="addB" column="add_b"/>
        <result property="addC" column="add_c"/>
        <result property="addD" column="add_d"/>
        <result property="addTotal" column="add_total"/>
        <result property="total" column="total"/>
        <result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="type" column="type"/>
        <result property="empStatus" column="emp_status"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="day" column="day"/>
        <result property="week" column="week"/>
    </resultMap>
    <select id="getListSerch" resultMap="resultMapAddCustomerReport">
        SELECT id,element_name,element_type,element_no,_parent_id,add_a,add_b,add_c,add_d,add_total,total,in_time,type,emp_status,year,month,day,week
        FROM add_customer_report where 1=1
        <if test="year != 0">and year = ${year}</if>
        <if test="month != 0">and month=${month}</if>
        <if test="day != 0">and day= ${day}</if>
        <if test="week != 0">and week= ${week}</if>
        <if test="type != 0">and type= ${type}</if>
        <if test="empStatus != 0">and emp_status= ${empStatus}</if>
        <if test="empStatus == 0">and emp_status != 2</if>
        <if test="depts != null and depts != '' ">
            and
            (
            _parent_id in (
            select id from add_customer_report where element_type = 1
            and element_no in (${depts})
            )
            or element_no in (${depts})
            )
        </if>
        order by id
    </select>
    <select id="getList" resultMap="resultMapAddCustomerReport" parameterType="com.hzfh.api.report.model.query.AddCustomerReportCondition" >
        SELECT id,element_name,element_type,element_no,_parent_id,add_a,add_b,add_c,add_d,add_total,total,in_time,type,emp_status,year,month,day,week
        FROM add_customer_report
    </select>
    <select id="getPagingList" resultMap="resultMapAddCustomerReport" parameterType="com.hzfh.api.report.model.query.AddCustomerReportCondition" statementType="STATEMENT">
        SELECT id,element_name,element_type,element_no,_parent_id,add_a,add_b,add_c,add_d,add_total,total,in_time,type,emp_status,year,month,day,week FROM add_customer_report where 1=1
        ORDER BY
        <foreach item="item" collection="sortItemList" separator=",">
            ${item.sortFeild} ${item.sortType}
        </foreach>
        LIMIT ${startIndex},${pageSize}
    </select>
    <select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.report.model.query.AddCustomerReportCondition" statementType="STATEMENT">
        SELECT count(1) FROM add_customer_report where 1=1
    </select>
    <select id="getInfo" resultMap="resultMapAddCustomerReport" parameterType="int">
        SELECT id,element_name,element_type,element_no,_parent_id,add_a,add_b,add_c,add_d,add_total,total,in_time,type,emp_status,year,month,day,week FROM add_customer_report where id=#{id}
    </select>
    <insert id="add" parameterType="com.hzfh.api.report.model.AddCustomerReport" useGeneratedKeys="true" keyProperty="id">
        insert into add_customer_report
        (element_name,element_type,element_no,_parent_id,add_a,add_b,add_c,add_d,add_total,total,in_time,type,emp_status,year,month,day,week)
        values
        (#{elementName},#{elementType},#{elementNo},#{_parentId},#{addA},#{addB},#{addC},#{addD},#{addTotal},#{total},current_timestamp(),#{type},#{empStatus},#{year},#{month},#{day},#{week})
    </insert>
    <update id="update" parameterType="com.hzfh.api.report.model.AddCustomerReport">
        update add_customer_report set
        element_name=#{elementName},element_type=#{elementType},element_no=#{elementNo},_parent_id=#{_parentId},add_a=#{addA},add_b=#{addB},add_c=#{addC},add_d=#{addD},add_total=#{addTotal},total=#{total},type=#{type},emp_status=#{empStatus},year=#{year},month=#{month},day=#{day},week=#{week}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from add_customer_report where id = #{id}
    </delete>
</mapper>