<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.employee.mapper.DeptYearNeedMapper">
	<resultMap type="com.hzfh.api.employee.model.DeptYearNeed" id="resultMapDeptYearNeed">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="financialYear" column="financial_year"/>
		<result property="companyNo" column="company_no"/>
		<result property="deptNo" column="dept_no"/>
		<result property="nowEmpTotal" column="now_emp_total"/>
		<result property="addEmpTotal" column="add_emp_total"/>
		<result property="activitiNo" column="activiti_no"/>
		<result property="workFlowStatus" column="activiti_status"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<sql id="Base_Column_List" >
		id,code,financial_year,company_no,dept_no,now_emp_total,add_emp_total,activiti_no,activiti_status,in_user_no,in_time,edit_user_no,edit_time,edit_comment
	</sql>
	<select id="getList" resultMap="resultMapDeptYearNeed">
		SELECT <include refid="Base_Column_List"/> FROM dept_year_need
	</select>
	<select id="getPagingList" resultMap="resultMapDeptYearNeed" parameterType="com.hzfh.api.employee.model.query.DeptYearNeedCondition" statementType="STATEMENT">
		SELECT <include refid="Base_Column_List"/> FROM dept_year_need where 1=1
		<if test="deptNo!=0"> and dept_no=${deptNo}</if>
		<if test="financialYear!=0"> and financial_year=${financialYear}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.employee.model.query.DeptYearNeedCondition" statementType="STATEMENT">
		SELECT count(1) FROM dept_year_need where 1=1
		<if test="deptNo!=0"> and dept_no=${deptNo}</if>
		<if test="financialYear!=0"> and financial_year=${financialYear}</if>
	</select>
	
	<select id="getInfo" resultMap="resultMapDeptYearNeed" parameterType="int">
		SELECT <include refid="Base_Column_List"/> FROM dept_year_need where id=#{id}
	</select>
	<select id="getFinancialYear" resultMap="resultMapDeptYearNeed">
		SELECT DISTINCT financial_year from dept_year_need ORDER BY financial_year DESC
	</select>
	<select id="getListByYear" resultMap="resultMapDeptYearNeed" parameterType="int">
	SELECT <include refid="Base_Column_List"/> FROM dept_year_need where financial_year=#{y}
	</select>
	<select id="getByActivitiNo" resultMap="resultMapDeptYearNeed" parameterType="int">
	SELECT <include refid="Base_Column_List"/>	FROM dept_year_need where activiti_no=#{activitiNo}
	</select>
	<insert id="add" parameterType="com.hzfh.api.employee.model.DeptYearNeed" useGeneratedKeys="true" keyProperty="id">
		insert into dept_year_need
		(code,financial_year,company_no,dept_no,now_emp_total,add_emp_total,activiti_no,activiti_status,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{code},#{financialYear},#{companyNo},#{deptNo},#{nowEmpTotal},#{addEmpTotal},#{activitiNo},#{workFlowStatus},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.employee.model.DeptYearNeed">
		update dept_year_need set 
		code=#{code},financial_year=#{financialYear},company_no=#{companyNo},dept_no=#{deptNo},now_emp_total=#{nowEmpTotal},add_emp_total=#{addEmpTotal},activiti_no=#{activitiNo},activiti_status=#{workFlowStatus},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<update id="updateStatusByActivitiNo" parameterType="String">
	    update dept_year_need set activiti_status=1 where activiti_no=#{activitiNo}
	</update>
	<delete id="delete" parameterType="int">
		delete from dept_year_need where id = #{id}
	</delete>
</mapper>