<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.employee.mapper.EmployeeCredentialMapper">
	<resultMap type="com.hzfh.api.employee.model.EmployeeCredential" id="resultMapEmployeeCredential">
		<result property="id" column="id"/>
		<result property="empNo" column="emp_no"/>
		<result property="credential" column="credential"/>
		<result property="credentialDate" column="credential_date" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<sql id="Base_Column_List" >
		id,emp_no,credential,credential_date,in_user_no,in_time,edit_user_no,edit_time,edit_comment
	</sql>
	<select id="getList" resultMap="resultMapEmployeeCredential">
		SELECT <include refid="Base_Column_List"/> FROM employee_credential
	</select>
	<select id="getPagingList" resultMap="resultMapEmployeeCredential" parameterType="com.hzfh.api.employee.model.query.EmployeeCredentialCondition" statementType="STATEMENT">
		SELECT <include refid="Base_Column_List"/> FROM employee_credential where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.employee.model.query.EmployeeCredentialCondition" statementType="STATEMENT">
		SELECT count(1) FROM employee_credential where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapEmployeeCredential" parameterType="int">
		SELECT <include refid="Base_Column_List"/> FROM employee_credential where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.employee.model.EmployeeCredential" useGeneratedKeys="true" keyProperty="id">
		insert into employee_credential
		(emp_no,credential,credential_date,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{empNo},#{credential},#{credentialDate},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.employee.model.EmployeeCredential">
		update employee_credential set 
		emp_no=#{empNo},credential=#{credential},credential_date=#{credentialDate},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from employee_credential where id = #{id}
	</delete>
	<select id="getEmpCredentialByEmpNo" parameterType="int" resultMap="resultMapEmployeeCredential">
		SELECT <include refid="Base_Column_List"/> FROM employee_credential
		where emp_no=#{empNo}
	</select>
</mapper>