<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.employee.mapper.ExtendProbationApplicationMapper">
	<resultMap type="com.hzfh.api.employee.model.ExtendProbationApplication" id="resultMapExtendProbationApplication">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="empNo" column="emp_no"/>
		<result property="companyNo" column="company_no"/>
		<result property="deptNo" column="dept_no"/>
		<result property="positionNo" column="position_no"/>
		<result property="startTime" column="start_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="period" column="period"/>
		<result property="selfEvaluation" column="self_evaluation"/>
		<result property="evaluation" column="evaluation"/>
		<result property="content" column="content"/>
		<result property="extendStartTime" column="extend_start_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="extendEndTime" column="extend_end_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="activitiNo" column="activiti_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapExtendProbationApplication">
		SELECT id,code,emp_no,company_no,dept_no,position_no,start_time,period,self_evaluation,evaluation,content,extend_start_time,extend_end_time,activiti_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM extend_probation_application
	</select>
	
	<select id="getPagingList" resultMap="resultMapExtendProbationApplication" parameterType="com.hzfh.api.employee.model.query.ExtendProbationApplicationCondition" statementType="STATEMENT">
		SELECT id,code,emp_no,company_no,dept_no,position_no,start_time,period,self_evaluation,evaluation,content,extend_start_time,extend_end_time,activiti_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM extend_probation_application where 1=1
		<if test="empNo!=0"> and emp_no=${empNo}</if>
		<if test="deptNo!=0"> and dept_no=${deptNo}</if>
		<if test="positionNo!=0"> and position_no=${positionNo}</if>
		<if test="workMateString !=null"> and emp_no in (${workMateString})</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.employee.model.query.ExtendProbationApplicationCondition" statementType="STATEMENT">
		SELECT count(1) FROM extend_probation_application where 1=1
		<if test="empNo!=0"> and emp_no=${empNo}</if>
		<if test="deptNo!=0"> and dept_no=${deptNo}</if>
		<if test="positionNo!=0"> and position_no=${positionNo}</if>
		<if test="workMateString !=null"> and emp_no in (${workMateString})</if>
	</select>
	<select id="getInfo" resultMap="resultMapExtendProbationApplication" parameterType="int">
		SELECT id,code,emp_no,company_no,dept_no,position_no,start_time,period,self_evaluation,evaluation,content,extend_start_time,extend_end_time,activiti_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM extend_probation_application where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.employee.model.ExtendProbationApplication" useGeneratedKeys="true" keyProperty="id">
		insert into extend_probation_application
		(code,emp_no,company_no,dept_no,position_no,start_time,period,self_evaluation,evaluation,content,extend_start_time,extend_end_time,activiti_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{code},#{empNo},#{companyNo},#{deptNo},#{positionNo},#{startTime},#{period},#{selfEvaluation},#{evaluation},#{content},#{extendStartTime},#{extendEndTime},#{activitiNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.employee.model.ExtendProbationApplication">
		update extend_probation_application set 
		code=#{code},emp_no=#{empNo},company_no=#{companyNo},dept_no=#{deptNo},position_no=#{positionNo},start_time=#{startTime},period=#{period},self_evaluation=#{selfEvaluation},evaluation=#{evaluation},content=#{content},extend_start_time=#{extendStartTime},extend_end_time=#{extendEndTime},activiti_no=#{activitiNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from extend_probation_application where id = #{id}
	</delete>
</mapper>