<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.employee.mapper.KnowledgeBaseMapper">
	<resultMap type="com.hzfh.api.employee.model.KnowledgeBase" id="resultMapKnowledgeBase">
		<result property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="tag" column="tag"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapKnowledgeBase">
		SELECT id,type,tag,title,content,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM knowledge_base
	</select>
	<select id="getPagingList" resultMap="resultMapKnowledgeBase" parameterType="com.hzfh.api.employee.model.query.KnowledgeBaseCondition" statementType="STATEMENT">
		SELECT id,type,tag,title,content,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM knowledge_base where 1=1
		<if test="byType!=0"> and type=${byType}</if>
		<if test="byTitle!=null and byTitle!=''"> and title LIKE CONCAT("%",'${byTitle}',"%")</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.employee.model.query.KnowledgeBaseCondition" statementType="STATEMENT">
		SELECT count(1) FROM knowledge_base where 1=1
        <if test="byType!=0"> and type=${byType}</if>
        <if test="byTitle!=null and byTitle!=''"> and title LIKE CONCAT("%",'${byTitle}',"%")</if>
	</select>
	<select id="getInfo" resultMap="resultMapKnowledgeBase" parameterType="int">
		SELECT id,type,tag,title,content,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM knowledge_base where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.employee.model.KnowledgeBase" useGeneratedKeys="true" keyProperty="id">
		insert into knowledge_base
		(type,tag,title,content,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{type},#{tag},#{title},#{content},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.employee.model.KnowledgeBase">
		update knowledge_base set 
		type=#{type},tag=#{tag},title=#{title},content=#{content},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from knowledge_base where id = #{id}
	</delete>
</mapper>