<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.employee.mapper.WelfareMapper">
	<resultMap type="com.hzfh.api.employee.model.Welfare" id="resultMapWelfare">
		<result property="id" column="id" />
		<result property="sendtime" column="sendtime" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="goods" column="goods" />
		<result property="money" column="money" />
		<result property="comment" column="comment" />
		<result property="empSendNo" column="emp_send_no" />
		<result property="empReceiveNo" column="emp_receive_no" />
		<result property="inUserNo" column="in_user_no" />
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editUserNo" column="edit_user_no" />
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editComment" column="edit_comment" />
	</resultMap>
	<select id="getList" resultMap="resultMapWelfare">
		SELECT
		id,sendtime,goods,money,comment,emp_send_no,emp_receive_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM welfare
	</select>
	<select id="getPagingList" resultMap="resultMapWelfare"
		parameterType="com.hzfh.api.employee.model.query.WelfareCondition"
		statementType="STATEMENT">
		SELECT
		id,sendtime,goods,money,comment,emp_send_no,emp_receive_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM welfare where 1=1
	
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int"
		parameterType="com.hzfh.api.employee.model.query.WelfareCondition"
		statementType="STATEMENT">
		SELECT count(1) FROM welfare where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapWelfare" parameterType="int">
		SELECT
		id,sendtime,goods,money,comment,emp_send_no,emp_receive_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM welfare where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.employee.model.Welfare"
		useGeneratedKeys="true" keyProperty="id">
		insert into welfare
		(sendtime,goods,money,comment,emp_send_no,emp_receive_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{sendtime},#{goods},#{money},#{comment},#{empSendNo},#{empReceiveNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.employee.model.Welfare">
		update welfare set
		sendtime=#{sendtime},goods=#{goods},money=#{money},comment=#{comment},emp_send_no=#{empSendNo},emp_receive_no=#{empReceiveNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from welfare where id =
		#{id}
	</delete>
</mapper>