<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="url" value="jdbc:mysql://localhost/DBNAME"/>
        <param name="driver" value="com.mysql.jdbc.Driver"/>
        <param name="user" value="user_id"/>
        <param name="password" value="password"/>
        <param name="sql" value="INSERT INTO LOGS VALUES('%x',
                             '%d','%C','%p','%m')"/>
        <layout class="org.apache.log4j.PatternLayout">
        </layout>

    </appender>

    <logger name="log4j.rootLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="DB"/>
    </logger>

</log4j:configuration>