<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.baseInfo.mapper.DicDataMapper">
	<resultMap type="com.hzfh.api.baseInfo.model.DicData" id="resultMapDicData">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="dicTypeNo" column="dic_type_no" />
		<result property="value" column="value" />
		<result property="inUserNo" column="in_user_no" />
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editUserNo" column="edit_user_no" />
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result property="editComment" column="edit_comment" />
	</resultMap>

	<select id="getListByDicTypeNo" resultMap="resultMapDicData">
		SELECT code,value
		FROM
		dic_data where dic_type_no = ${dicTypeNo}
	</select>

	<select id="getList" resultMap="resultMapDicData">
		SELECT
		id,code,dic_type_no,value,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM dic_data
	</select>
	<select id="getPagingList" resultMap="resultMapDicData"
		parameterType="com.hzfh.api.baseInfo.model.query.DicDataCondition"
		statementType="STATEMENT">
		SELECT
		id,code,dic_type_no,value,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM dic_data where 1=1
		<if test="dicTypeNo != 0">and dic_type_no=${dicTypeNo}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int"
		parameterType="com.hzfh.api.baseInfo.model.query.DicDataCondition"
		statementType="STATEMENT">
		SELECT count(1) FROM dic_data where 1=1
		<if test="dicTypeNo != 0">and dic_type_no=${dicTypeNo}</if>
	</select>
	<select id="getInfo" resultMap="resultMapDicData" parameterType="int">
		SELECT
		id,code,dic_type_no,value,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM dic_data where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.baseInfo.model.DicData"
		useGeneratedKeys="true" keyProperty="id">
		insert into dic_data
		(code,dic_type_no,value,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{code},#{dicTypeNo},#{value},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.baseInfo.model.DicData">
		update dic_data set
		code=#{code},dic_type_no=#{dicTypeNo},value=#{value},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from dic_data where id
		= #{id}
	</delete>

	<!-- other -->

	<select id="getDicDataListByType" resultMap="resultMapDicData"
		parameterType="int">
		SELECT code,value
		FROM dic_data where dic_type_no =
		#{dicTypeNo} order by code
	</select>
    <select id="getDicDataByTypeAndCode" resultMap="resultMapDicData"
            parameterType="int">
        SELECT code,value
        FROM dic_data where dic_type_no =
        #{dicTypeNo} and code = #{code}
    </select>
    <select id="getCodeByTypeNoAndName" resultMap="resultMapDicData" >
        SELECT code,value FROM dic_data d where d.dic_type_no = #{dicTypeNo} and  d.value=#{value}
    </select>
    

</mapper>