<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.baseInfo.mapper.DistrictMapper">
	<resultMap type="com.hzfh.api.baseInfo.model.District" id="resultMapDistrict">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="enabled" column="enabled"/>
		<result property="priority" column="priority"/>
		<result property="provinceNo" column="province_no"/>
		<result property="cityNo" column="city_no"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapDistrict">
		SELECT id,code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM district
	</select>
	<select id="getDistrictListByCityNo" resultMap="resultMapDistrict" parameterType="int" >
		SELECT id,code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM district WHERE city_no = #{cityNo}
	</select>
	<select id="getPagingList" resultMap="resultMapDistrict" parameterType="com.hzfh.api.baseInfo.model.query.DistrictCondition" statementType="STATEMENT">
		SELECT id,code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM district where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.baseInfo.model.query.DistrictCondition" statementType="STATEMENT">
		SELECT count(1) FROM district where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapDistrict" parameterType="int">
		SELECT id,code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM district where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.baseInfo.model.District" useGeneratedKeys="true" keyProperty="id">
		insert into district
		(code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{code},#{name},#{enabled},#{priority},#{provinceNo},#{cityNo},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.baseInfo.model.District">
		update district set 
		code=#{code},name=#{name},enabled=#{enabled},priority=#{priority},province_no=#{provinceNo},city_no=#{cityNo},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from district where id = #{id}
	</delete>
	
	<select id="getDistrictListByCityNoAndEnabled" resultMap="resultMapDistrict">
		SELECT id,code,name,enabled,priority,province_no,city_no,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM district WHERE city_no = #{cityNo} and enabled = #{enabled}
	</select>
</mapper>