<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.baseInfo.mapper.EmailFilesMapper">
	<resultMap type="com.hzfh.api.baseInfo.model.EmailFiles" id="resultMapEmailFiles">
		<result property="id" column="id"/>
		<result property="emailNo" column="email_no"/>
		<result property="fileUrl" column="file_url"/>
		<result property="fileName" column="file_name"/>
	</resultMap>
	<select id="getList" resultMap="resultMapEmailFiles">
		SELECT id,email_no,file_url,file_name
		FROM email_files
	</select>
	<select id="getPagingList" resultMap="resultMapEmailFiles" parameterType="com.hzfh.api.baseInfo.model.query.EmailFilesCondition" statementType="STATEMENT">
		SELECT id,email_no,file_url,file_name FROM email_files where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.baseInfo.model.query.EmailFilesCondition" statementType="STATEMENT">
		SELECT count(1) FROM email_files where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapEmailFiles" parameterType="int">
		SELECT id,email_no,file_url,file_name FROM email_files where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.baseInfo.model.EmailFiles" useGeneratedKeys="true" keyProperty="id">
		insert into email_files
		(email_no,file_url,file_name)
		values
		(#{emailNo},#{fileUrl},#{fileName})
	</insert>
	<update id="update" parameterType="com.hzfh.api.baseInfo.model.EmailFiles">
		update email_files set 
		email_no=#{emailNo},file_url=#{fileUrl},file_name=#{fileName}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from email_files where id = #{id}
	</delete>
</mapper>