<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.service.baseInfo.mapper.SmsMapper">
	<resultMap type="com.hzfh.api.baseInfo.model.Sms" id="resultMapSms">
		<result property="sysno" column="sysno"/>
		<result property="cellnumber" column="cellnumber"/>
		<result property="smscontent" column="smscontent"/>
		<result property="priority" column="priority"/>
		<result property="retrycount" column="retrycount"/>
		<result property="handletime" column="handletime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="status" column="status"/>
		<result property="type" column="type"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
	</resultMap>
	<select id="getList" resultMap="resultMapSms">
		SELECT sysno,cellnumber,smscontent,priority,retrycount,handletime,status,type,in_user_no,in_time
		FROM sms
	</select>
	<select id="getPagingList" resultMap="resultMapSms" parameterType="com.hzfh.api.baseInfo.model.query.SmsCondition" statementType="STATEMENT">
		SELECT sysno,cellnumber,smscontent,priority,retrycount,handletime,status,type,in_user_no,in_time FROM sms where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="int" parameterType="com.hzfh.api.baseInfo.model.query.SmsCondition" statementType="STATEMENT">
		SELECT count(1) FROM sms where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapSms" parameterType="int">
		SELECT sysno,cellnumber,smscontent,priority,retrycount,handletime,status,type,in_user_no,in_time FROM sms where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.baseInfo.model.Sms" useGeneratedKeys="true" keyProperty="id">
		insert into sms
		(sysno,cellnumber,smscontent,priority,retrycount,handletime,status,type,in_user_no,in_time)
		values
		(#{sysno},#{cellnumber},#{smscontent},#{priority},#{retrycount},#{handletime},#{status},#{type},#{inUserNo},current_timestamp())
	</insert>
	<update id="update" parameterType="com.hzfh.api.baseInfo.model.Sms">
		update sms set 
		sysno=#{sysno},cellnumber=#{cellnumber},smscontent=#{smscontent},priority=#{priority},retrycount=#{retrycount},handletime=#{handletime},status=#{status},type=#{type}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from sms where id = #{id}
	</delete>

    <select id="verification" resultType="String" parameterType="String">
        select code from sms_captcha where telephone = #{telephone}
        and TIME_TO_SEC(TIMEDIFF(now(),in_time)) &lt; 60
        ORDER BY id desc limit 1
    </select>
</mapper>